*{
    margin:0 auto;
}
header h1{
    color: brown;
    background-color: rgb(75,75,75);
    text-align: center;
    font-size:90px;
    padding: 20px;
    
}
article{
    height: 800px; width: 100%;
    background-color: darkred;
    text-align: center;
}
article h1{
    font-size: 25px;
    color:azure;
}
footer{
    height:130px; width: 100%;
    background-color: silver;
    bottom: 0;
    font-size: 25px;
    text-align: center;
}
footer #a1423{
    margin-left: 30%;
}
.menu{
    width: 100%;
}

.menu ul{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    background-color: rgb(115, 115, 115);
}

.menu ul li{
    display: inline;
}

.menu ul li a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
    display: inline-block;
    transition: background .2s;
}

.menu ul li a:hover{
    background-color: rgb(255, 112, 99);
}
footer img{
    margin: 20px;
}
article iframe{
margin-top: 100px;
}
body{
    background-color: black;
}
.jogos{
    text-align: center;
}
.jogos img{
    height: 360px; width: 360px;
}